body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161313;
}
p{
    color: white;
    font-size: 24px;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:190px;
    height: 254px;
    border-radius: 20px;
    overflow: hidden;
}
.card::before{
    content: '';
    position: absolute;
   width: 100px;
    height: 130%;
background-image: linear-gradient(180deg, #ff00c8, cyan);
animation: animats 3s linear infinite ;
transition:  all 3s linear;
}
.card::after{
    content: '';
    position: absolute;
    inset: 5px;

background-color: #141414;
    border-radius: 15px;

}
@keyframes animats{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
