body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161313;
}
h2{
    position: relative;
    color: rgba(0, 255, 255, 0.3);
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:190px;
    height: 254px;
    border-radius: 20px;
    overflow: hidden;
}
.card::before{
    content: '';
    position: absolute;
   width: 100px;
    height: 130%;
background-image: linear-gradient(180deg, #ff00c8, cyan);
animation: animats 3s linear infinite ;
transition:  all 3s linear;
}
.card::after{
    content: '';
    position: absolute;
    inset: 5px;

background-color: #141414;
    border-radius: 15px;

}
@keyframes animats{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 244px;
    border-radius: 15px;
    background-color: #141414;
    z-index: 10;
}
.input-group input {
   border: none; /* pas de bordure */
    border-radius: 10px;
    outline: none;
    background-color: transparent; /* fond transparent */
    color: white; /* texte blanc */
    box-shadow: 0 2px 5px rgba(0, 255, 255, 0.3); /* petit glow léger */
    transition: 0.3s;

}
 label{
   color: rgba(0, 255, 255, 0.3);
  
}
.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

button{
    width: 100px;
    height: 35px;
    border: none; /* pas de bordure */
    border-radius: 10px;
    outline: none;
    background-color: transparent; /* fond transparent */
    color:  rgba(0, 255, 255, 0.3); /* 
    box-shadow: 0 2px 5px rgba(0, 255, 255, 0.3); /* petit glow léger */
    transition: 0.3s;
    cursor: pointer;
}